.modal-container {
    height:  100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   .modal-content {
       border-radius:  12px;
       display: flex;
       justify-content: center;
       flex-direction: column;
       flex-basis: 25vw;
       padding: 15px;
       font-size: 20px;
       &__header{
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
       }
    }

.favor-icon--js-active,
.favor-icon--js-non-active {
  cursor: pointer;
}

.favor-icon--js-active {
  fill: rgb(17, 17, 16);

  }
  

.favor-icon--js-non-active {
  fill: none;
}
