.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: green;
  height: 100px;
}

.header__logo {
  position: absolute;
  left: 0;
  margin: 15px 25px;
  height: 70px;
}

.svg-logo {
  cursor: pointer;
  width: 40px;
  margin: 25px 25px;
}
/*# sourceMappingURL=header.css.map */