
.header{
    display: flex;
    justify-content: flex-end;
    background-color: green;
    height: 100px;
    &__logo{
        position: absolute;
        left: 0;
        margin: 15px 25px ;
        height: 70px;
    }

}
.svg-logo{
    cursor: pointer;
    width: 40px;
    margin: 25px 25px ;
}
.сounter{
    margin-top: 35px;
    font-size: 20px;
}